@mixin flexbox($theme: row) {

    display: flex;
    flex-direction: $theme;
    justify-content: center;
    align-items: center;
}

    .about-me, .experience {
    @include flexbox($theme: column);
        .piece {
        margin: 20px;
    }
    .headshot {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid black;
            box-shadow: 10px 10px 50px black;
            -moz-box-shadow: 10px 10px 50px black;
      -webkit-box-shadow: 10px 10px 50px black;
    }
    .brand-statement {
        text-align: center;
    }
}

.about-me {
    .brand-statement {
        margin: 20px;
        margin-top: 30px;
        width: 80vw;
        max-width: 600px;
    }

    .options {
        @include flexbox; 
        flex-wrap: wrap;
        margin-top: 30px;
        margin-inline: 10px;
        .border {
            border-right: 1px solid rgba(255,255,255,.25);
        }
        h4, span {
            font-weight: bold;
            margin: 1px;
            padding: 4px;
            padding-inline: 15px;
            font-size: 15px;
        }
        h4:hover {
            cursor: pointer;
        }
    }
    .carousel {
        @include flexbox;
        .chevrons {
            font-size: 40px;
        }
            .chevrons:hover {
                cursor: pointer;
            }
    .container {
        overflow-x: scroll;
        scroll-behavior: smooth;
        width: 80vw;
        max-width: 900px;
    .scroller {
        display: flex;
        width: 240vw;
        max-width: 2700px;
    .section {
        width: 100%; 
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        h2 {
            display: flex;
            align-self: center;
        }
        ul, p {
            margin-top: 10px;
        }
    }
}
}
}
}
