@mixin flexbox($theme: row) {

    display: flex;
    flex-direction: $theme;
    justify-content: center;
    align-items: center;
}

.contact {
    @include flexbox($theme: column);
    margin-block: 50px 100px;
    .section {
    @include flexbox;
    }
img {
    width: 40px;
    padding: 10px;
     -webkit-filter: drop-shadow(2px 9px 4px black);
  filter: drop-shadow(2px 9px 4px black);
}
}
