@mixin flexbox($theme: column) {

    display: flex;
    flex-direction: $theme;
    justify-content: center;
    align-items: flex-start;
}

.experience {
        width: 80vw;
        max-width: 900px;
    .experience-section {
    @include flexbox;
        width: 100%;
        margin: 10px;
        margin-block: 15px;
        .location {
            font-style: italic;
        }
        ul, p {
            margin-top: 10px;
        }
    }
}

