@mixin flexbox($theme: row) {

    display: flex;
    flex-direction: $theme;
    justify-content: center;
    align-items: center;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: grey;
  height: 5px;
  width: 5px;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: black;
    border: 1px solid black;
  border-radius: 100vw;
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
//   border: 1px solid black;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    transition: all 1s;
    opacity: 1;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F2C2D; 
    overflow: hidden;
    overflow: clip;
   a, button {
    text-decoration: none;
    color: #EBEAEF;
       }
    color: #EBEAEF;
}

i{ display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0 auto;
        width: 60px;
        font-size: 40px;
}

.anchor, .options-anchor {
     display: block;
     height: 10vh; /*same height as header*/
     margin-top: -10vh; /*same height as header*/
     visibility: hidden;
     width: 100%;
 }

 .options-anchor {
     height: 20vh;
     margin-top: -20vh;
 }

.component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    h2 {
        margin: 30px;
    }
    img {
        width: 200px;
    }
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url("./assets/personal-pics/bike-standing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    // height: calc(100vh - 65px);
    // height: -o-calc(100vh - 70px); /* opera */
    // height: -webkit-calc(100vh - 70px); /* google, safari */
    // height: -moz-calc(100vh - 70px); /* firefox */
    width: 100vw;
    margin: 0;
    height: 90vh;
    justify-content: flex-start;
    .content {
        h1, h2 {
            margin: 0 auto;
        }
        h2 {
            margin-top: 10px;
        }
        .icons {
            @include flexbox;
            i {
                margin: 0;
                margin-top: 15px;
            }
        }
    display: flex;
    flex-direction: column;
    width: 50vw;
    }
}

.mobile-nav, .desktop-nav {
    background-color: #415247;
    position: sticky;
    overflow: visible;
    top: 0;
    z-index: 1;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: nowrap;
    margin: 0;
    margin: 0px, 10px, 0px, 10px;
    min-height: 70px;
    p {
        font-size: 22px;
    }
}

.desktop-nav {
    height: 10vh;
}

    .mobile-nav {
        height: auto;
        transition: height 1s ;
        flex-direction: column;
        .navbar-item {
            margin: 20px;
        }
        .dropdown-icon {
            width: 55px;
            display: flex;
            align-self: flex-end;
            margin-right: 19px;
        }
    }
    
.skills {
    height: auto;
    width: 80%;
    max-width: 700px;
    margin-bottom: 50px;
    margin-top: 50px;
.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

img {
    width: 40px;
    padding: 10px;
}
.skill {
    @include flexbox($theme: column);
        padding: 5px;
}
}

.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin-bottom: 20px;
    }
    .project {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px;
        .project-content {
            width: 30%;
        }
        .project-content {
            @include flexbox($theme: column);
            align-items: center;
            margin: 40px;
            h3 {
                align-self: flex-start;
                margin: 5px;
            }
            a { 
                text-decoration: underline;
            }
            p {
                margin-top: 10px;
                text-align: justify;
            }
        }
        img {
            width: auto;
            height: 400px;
        }
    }
}

.experience {
    .section {
        margin: 10px;
        width: 100%;
        .location {
            font-style: italic;
        }
        ul, p {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}

    .about-me, .experience {
        width: 80vw;
        max-width: 900px;
    @include flexbox($theme: column);
        .piece {
        margin: 20px;
    }
    .headshot {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid black;
    }
    .brand-statement {
        text-align: center;
    }
}

.about-me {
        max-width: 900px;
    .brand-statement {
        margin: 20px;
        max-width: 600px;
    }

    .options {
        display: flex;
        align-self: flex-start;
        margin-top: 30px;
        margin-left: 20px;
        button {
            background-color: #2F2C2D;
            font-weight: bold;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 15px;
        }
    }
    .carousel {
        @include flexbox;
        .chevrons {
            margin: 5px;
            font-size: 40px;
        }
            .chevrons:hover {
                cursor: pointer;
            }
    .container {
        overflow-x: scroll;
        scroll-behavior: smooth;
        width: 80vw;
        max-width: 900px;
    .scroller {
        display: flex;
        flex-direction: row;
        width: 240vw;
        max-width: 2700px;
    .section {
        width: 100%; 
    }
}
}
}
}

.contact {
    @include flexbox($theme: column);
    margin-bottom: 100px;
    .section {
    @include flexbox;
    }
img {
    background-color: #2F2C2D;
    width: 40px;
    padding: 10px;
}
}

@media (max-width: 700px) { 
        #project-image {
            height: 200px;
    }
}

